.matching-game {
  background: #eee;
  width: 800px;
  margin: auto;

  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;

    .time {
      position: relative;
    }

    .name {
      position: relative;
    }

    .bold{
        font-weight: bold;
    }

    .score {
      position: relative;
    }

    .round-wrap{
        position: relative;

        .name{
            font-size: 30px;
            font-weight: bold;
        }

        .round{
            position: relative;
        }
    }
  }

  .grid-wrap {
    position: relative;

    .grid-row {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .grid-item {
        position: relative;
        background: #818684;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        border-radius: 6px;
        color: #fff;

        .value {
          font-size: 40px;
          visibility: hidden;
        }

        img{
            width: 100%;
            visibility: hidden;
        }

      }

      .flipped {
        background: #0092ff;

        .value {
          visibility: visible;
        }

        img{
            visibility: visible;
        }

      }

      .matched-1{
          border: 3px solid #35dece;
      }

      .matched-2{
          border: 3px solid #de8335;
      }

    }
  }
}

.modal-screen{
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal{
        position: relative;
        background: #fff;
        width: 300px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        flex-direction: column;

        .title{
            position: relative;
            font-size: 24px;
            margin-bottom: 10px;
        }

        input{
            position: relative;
            outline: none;
            width: 190px;
            line-height: 30px;
            margin-bottom: 5px;
            text-indent: 5px;
        }

        .button{
            position: relative;
            background: #00cdff;
            width: 200px;
            line-height: 60px;
            border-radius: 6px;
            color: #fff;
            font-size: 23px;
            margin-bottom: 10px;
        }
    }
}


