.todo-app{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(67,157,204,1) 0%, rgba(124,41,194,1) 100%);
    color: #fff;

    .screen{
        position: relative;
        padding: 50px 0px;

        svg{
            position: relative;
            width: auto;
            height: 100px;
        }

        .title{
            position: relative;
            font-size: 40px;
        }

        .description{
            position: relative;
            font-size: 20px;
            margin: 6px 0px 30px 0px;
        }

        .alert-msg{
            position: relative;
            background: #ffb300;
            width: 300px;
            margin: auto;
            margin-bottom: 10px;
            line-height: 40px;
            border-radius: 6px;
            border: 1px solid #ffd981;
        }

        .success-msg{
            position: relative;
            background: #1b9a55;
            width: 300px;
            margin: auto;
            margin-bottom: 10px;
            line-height: 40px;
            border-radius: 6px;
            border: 1px solid #2cbd6e;
        }

        .btn{
            position: relative;
            display: block;
            margin: auto;
            width: 300px;
            height: 50px;
            margin-bottom: 15px;
        }

        .text-field{
            display: block;
            margin: auto;
            width: 300px;
            height: 50px;
            margin-bottom: 15px;
        }

        .input-row{
            margin: auto;
            width: 300px;
            display: flex;
            justify-content: space-between;

            .text-field{
                width: 145px;
                margin: 0px 0px 15px 0px;
            }
        }

        .forgot-link{
            position: relative;
            cursor: pointer;
        }

        .forgot-link:hover{
            color: #8dc9ff;
        }
    }

    .todo-dashboard{
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;

        .tool-bar{
            display: flex;
            justify-content: space-between;

            .app-title{
                display: flex;
                align-items: center;

                svg{
                    position: relative;
                    width: auto;
                    height: 36px;
                    margin-right: 5px;
                }

                .name{
                    font-size: 20px;
                }
            }

        }

        .super-nav{
            position: relative;

            .toggle{
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 10px;
                border-left: 1px solid rgba(255,255,255,0.2);
                cursor: pointer;

                .avatar{
                    position: relative;
                    margin-right: 10px;
                    width: 30px;
                    height: 30px;
                    font-size: 15px;
                    background: #da9220;
                }

                .username{
                    position: relative;
                    margin-right: 10px;
                }

                .chevron{
                    position: relative;
                    width: auto;
                    height: 26px;
                }
            }

            .super-dd-menu{
                position: absolute;
                background: #fff;
                right: 0px;
                width: 210px;
                border-radius: 6px;
                box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
                color: #3f51b5;
                text-align: left;
                overflow: hidden;
                display: none;

                .dd-item{
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    height: 50px;
                    padding-left: 10px;
                    border-bottom: 1px solid #dde2ff;

                    label{
                        position: relative;
                    }

                    svg{
                        position: relative;
                    }
                }

                .dd-item:hover{
                    background: #edefff;
                }

                .dd-item:last-child{
                    border: none;
                }

            }

        }

        .super-nav:hover .super-dd-menu{
            display: block;
        }

        .list-container{
            position: relative;
            background: rgba(255,255,255,0.8);
            flex: 1;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;

            .todo-list{
                position: relative;
                flex: 1;

                .todo-item{
                    position: relative;
                    border-bottom: 1px solid #c7cff7;
                    text-align: left;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 50px;
                    padding: 0px 15px;
                    color: #3f51b5;

                    .left{
                        display: flex;
                        align-items: center;
                    }

                    .right{
                        display: flex;
                        align-items: center;

                        svg{
                            cursor: pointer;
                            margin-left: 10px;
                            fill: #ccc;
                        }

                        svg:hover{
                            fill: #3f51b5;
                        }
                    }
                }

            }

            .control-bar{
                position: relative;
                background: #333;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0px 15px;

                .btn{
                    position: relative;
                    margin-left: 10px;
                }
            }
        }

    }

}